* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

:root {
    --content-width: 1240px;
    --container-offset: 15px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
    --font-family: "Roboto", sans-serif;
    --bg-color: #fff;
    --app-bg: #ddd;
    --border-img: #9500E0;
    --btn-color: #00BDFE
}

#App {
    position: relative;
    font-family: var( --font-family);
}

.container {
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-width);
}

.app-wrp {
    margin-top: 10px;

}

.app-header {
    background-color: var(--app-bg);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: 2px 2px 7px 3px rgba(0,0,0,0.53); 
    box-shadow: 2px 2px 7px 3px rgba(0,0,0,0.53);
    border-radius: 7px;
}

.app-header__input {
    border-radius: 7px;
    width: 30%;
    padding: 0 10px;
}

.app-header__btn {
    border-radius: 7px;
    padding: 5px 40px;
    cursor: pointer;
    transition: .7s;
    border: none;
    font-size: 16px;
}
.app-header__btn:hover {
    background-color: var(--btn-color);
    box-shadow: 2px 2px 7px 3px rgba(0,0,0,0.53);
}

.app-header__sort {
    width: fit-content;
    border-radius: 5px;
}

.app-main {
    padding: 20px 0;
}

.app-main__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list-item {
    background-color: var(--app-bg);
    -webkit-box-shadow: 2px 2px 7px 3px rgba(0,0,0,0.53); 
    box-shadow: 2px 2px 7px 3px rgba(0,0,0,0.53);
    border-radius: 7px;
    width: 30%;
    margin-bottom: 20px;
    padding: 10px;
    cursor: pointer;
}

.item-top {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    background: darkgrey cover;
    margin: 10px auto;
}

.item-bottom {
    display: flex;
    flex-direction: column;
}

.item-bottom__name {
    margin-bottom: 10px;
    align-self: center;
}

.descr-list {
    margin-right: 50px;
}

.descr-list__item {
    margin-top: 5px;
}

.descr-list__about {
    margin-top: 25px;
}

.show {
    display: block;
}

.hide {
    display: none !important;
}

.showFlex {
    display: flex;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from{opacity: 0.1;}
    to{opacity: 1;}
}

/*----modal ----*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    /* display: none; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,.5);
}

.modal-content {
    /* display: flex; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    padding: 30px 25px;
    background-color: var(--app-bg);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    overflow-y: auto;
}

.modal-content__descr {
    display: flex;
    flex-direction: row;
}

.modal-content__img {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    /* background-color: var(--border-img); */
    border: 2px solid darkgrey;
}